// Multiselect css

.multiselect-item, .multiselect-filter {
    margin: 0.5em;
}
span.multiselect-native-select {
    position: relative
}
span.multiselect-native-select select {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px -1px -1px -3px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
    left: 50%;
    top: 30px
}
.open>.dropdown-menu {
    display: block;
    min-height: 6rem;
    max-height: 16rem;
    overflow-y: auto;
    text-align: left;
    padding: 0.5rem;
}
.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0
}
.multiselect-container>li>a.multiselect-all label {
    font-weight: 700
}

// Bootstrub css

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px
}
.input-group-btn, .input-group-addon {
    display:none;
}
.dropdown-menu {
    position: fixed;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box
}
.dropdown-menu>li>a {
    display: block;
    clear: both;
    font-weight: normal;
    color:#16325C;
    white-space: nowrap
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}